.Home_Navegacion[b-353qf4ft2d] {
  border: 1px solid black;
  border-radius: 1rem;
}

.Home_Navegacion:hover[b-353qf4ft2d] {
  background-color: black;
}

.Home_Navegacion h3[b-353qf4ft2d] {
  font-size: 1rem;
}

.Home_Navegacion:hover h3[b-353qf4ft2d] {
  color: white;
}
