@page "/ejeA"

<div>
    <h1>Ejercicios 12</h1>
    <p>Construr una funcion que reciba como parametro un entero v un digito v retorne " si dcho
        dígito está en dicho entero y O si no es así.</p>
    <h2>El es: @Results</h2>
</div>


@code {
    [Parameter]
    public int numero { get; set; }
    [Parameter]
    public int digito { get; set; }
    public int Results { get; set; }

    protected override void OnParametersSet()
    {
        VerificarDigitoEnEntero();
    }

    public void VerificarDigitoEnEntero()
    {
        string numeroStr = Math.Abs(numero).ToString();
        string digitoStr = Math.Abs(digito).ToString();

        Results = numeroStr.Contains(digitoStr) ? 1 : 0;
    }
}