

<div>
    <h1>El Resultado es: @Results</h1>
</div>


@code {
    [Parameter]
    public int numero { get; set; }
    [Parameter]
    public int digito { get; set; }
    public int Results { get; set; }

    public int VerificarDigitoEnEntero()
    {
        // Convertimos el número y el dígito a valores absolutos para evitar problemas con los negativos
        string numeroStr = Math.Abs(numero).ToString();
        string digitoStr = Math.Abs(digito).ToString();

        // Verificamos si el dígito está contenido en el número
        return Results = numeroStr.Contains(digitoStr) ? 1 : 0;
    }
}