@page "/ejeBA"

<div>
    <h1>Ejercicios 14</h1>

    <p>
        Construir una funcion que reciba como parametros dos numeros enteros y retorne el valor del mayor.
    </p>
    <h1>Mayor Valor: @Results</h1>
</div>

@code {
    [Parameter]
    public int numero1 { get; set; }

    [Parameter]
    public int numero2 { get; set; }

    public int Results { get; set; }

    protected override void OnParametersSet()
    {
        ObtenerMayor();
    }

    public void ObtenerMayor()
    {
        Results = Math.Max(numero1, numero2);
    }
}
