@page "/"

<PageTitle>Home</PageTitle>


<div class="d-flex justify-content-center align-items-center gap-3" style="height: 80vh;">
    <div class="Home_Navegacion">
        <NavLink class="nav-link" href="/ejeA" style="color:black;">
            <h3> Ejercicio 12</h3>
        </NavLink>
    </div>
    <div class="Home_Navegacion">
        <NavLink class="nav-link" style="color:black;" href="/ejeBA">
            <h3> Ejercicio 14</h3>
        </NavLink>
    </div>

    <div class="Home_Navegacion">
        <NavLink class="nav-link" style="color:black;" href="/ejeC">
            <h3> Ejercicio 16</h3>
        </NavLink>
    </div>
    <div class="Home_Navegacion">
        <NavLink class="nav-link" style="color:black;" href="/ejeD">
            <h3> Ejercicio 18</h3>
        </NavLink>
    </div>
    <div class="Home_Navegacion">
        <NavLink class="nav-link" style="color:black;" href="/ejeF">
            <h3> Ejercicio 20</h3>
        </NavLink>
    </div>
</div>
