@page "/"

<PageTitle>Home</PageTitle>


<div>
    <NavLink class="nav-link" href="/ejeA">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Ejercicio 12
    </NavLink>
    <NavLink class="nav-link" href="/ejeB">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Ejercicio 14
    </NavLink>
    <NavLink class="nav-link" href="/ejeC">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Ejercicio 16
    </NavLink>
    <NavLink class="nav-link" href="/ejeD">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Ejercicio 18
    </NavLink>
    <NavLink class="nav-link" href="/ejeF">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Ejercicio 20
    </NavLink>
</div>
